<html>
	{% load static %}
	<head>
		<script type="text/javascript" src="{% static 'js/knockout-min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
		<link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>
	</head>
	<body>
		<div id="header">
			<h1>Five Talent Realty Search</h1>
			<a href="/admin/">Administrator Login ></a>
		</div>
		<div id="content">
			<div id="content-centered">
				<div id="search-container">
					<div id="search-fields">
						<form data-bind="submit: submitSearch">
							<input type="text" data-bind="value: mlsQuery" placeholder="MLS #"/>
							<input type="text" data-bind="value: cityQuery" placeholder="City"/>
							<select data-bind="value: selectedState, optionsCaption: 'State'">
								<option value="Alabama">Alabama</option>
								<option value="Alaska">Alaska</option>
								<option value="Arizona">Arizona</option>
								<option value="Arkansas">Arkansas</option>
								<option value="California">California</option>
								<option value="Colorado">Colorado</option>
								<option value="Connecticut">Connecticut</option>
								<option value="Delaware">Delaware</option>
								<option value="District Of Columbia">District Of Columbia</option>
								<option value="Florida">Florida</option>
								<option value="Georgia">Georgia</option>
								<option value="Hawaii">Hawaii</option>
								<option value="Idaho">Idaho</option>
								<option value="Illinois">Illinois</option>
								<option value="Indiana">Indiana</option>
								<option value="Iowa">Iowa</option>
								<option value="Kansas">Kansas</option>
								<option value="Kentucky">Kentucky</option>
								<option value="Louisiana">Louisiana</option>
								<option value="Maine">Maine</option>
								<option value="Maryland">Maryland</option>
								<option value="Massachusetts">Massachusetts</option>
								<option value="Michigan">Michigan</option>
								<option value="Minnesota">Minnesota</option>
								<option value="Mississippi">Mississippi</option>
								<option value="Missouri">Missouri</option>
								<option value="Montana">Montana</option>
								<option value="Nebraska">Nebraska</option>
								<option value="Nevada">Nevada</option>
								<option value="New Hampshire">New Hampshire</option>
								<option value="New Jersey">New Jersey</option>
								<option value="New Mexico">New Mexico</option>
								<option value="New York">New York</option>
								<option value="North Carolina">North Carolina</option>
								<option value="North Dakota">North Dakota</option>
								<option value="Ohio">Ohio</option>
								<option value="Oklahoma">Oklahoma</option>
								<option value="Oregon">Oregon</option>
								<option value="Pennsylvania">Pennsylvania</option>
								<option value="Rhode Island">Rhode Island</option>
								<option value="South Carolina">South Carolina</option>
								<option value="South Dakota">South Dakota</option>
								<option value="Tennessee">Tennessee</option>
								<option value="Texas">Texas</option>
								<option value="Utah">Utah</option>
								<option value="Vermont">Vermont</option>
								<option value="Virginia">Virginia</option>
								<option value="Washington">Washington</option>
								<option value="West Virginia">West Virginia</option>
								<option value="Wisconsin">Wisconsin</option>
								<option value="Wyoming">Wyoming</option>
							</select>
							<input id="zipQuery" type="text" data-bind="value: zipQuery" placeholder="Zip Code"/>
							<input id="bedsQuery" type="text" data-bind="value: bedsQuery" placeholder="Bedrooms"/>
							<input id="bathsQuery" type="text" data-bind="value: bathsQuery" placeholder="Bathrooms"/>
							<input id="sqFtQuery" type="text" data-bind="value: sqFtQuery" placeholder="Square Footage"/>
							<button type="submit">Go</button>
						</form>
					</div>
				</div>
				<div id="results-container">
					<div id="results">
						<ul data-bind="foreach: houses, visible: houses().lengh > 0">
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>